*{margin:0;padding:0;box-sizing:border-box;-webkit-box-sizing:border-box;font-family:Helvetica}
body{background:#fff}
.tile{position:absolute;}
.tile:hover{border:2px solid #00b9f0}
.tile.selected{border:2px solid #000}
.area{position:absolute;z-index:1;background-color:rgba(0,185,240,0.25);border-radius:1000px;pointer-events:none}
.window{position:absolute;width:220px;height:100px;background:#fff;border-radius:5px;box-shadow:0 1px 5px rgba(0,0,0,0.5);z-index:100;pointer-events:none;font-size:11px;}
.window p{padding:5px}
