* {
  margin: 0
  padding: 0
  box-sizing: border-box
  -webkit-box-sizing: border-box
  font-family: Helvetica
}

body {
  background: white
}

.tile {
  position: absolute

  &:hover {
    border: 2px solid #00b9f0
  }

  &.selected {
    border: 2px solid black
  }
}

.area {
  position: absolute
  z-index: 1
  background-color: rgba(0, 185, 240, 0.2500)
  border-radius: 1000px
  pointer-events: none
}

.window {
  position: absolute
  width: 220px
  height: 100px
  background: white
  border-radius: 5px
  box-shadow: 0 1px 5px rgba(0,0,0,.5)
  z-index: 100
  pointer-events: none
  font-size: 11px

  p {
    padding: 5px
  }
}
